# SPDX-License-Identifier: GPL-2.0-or-later
#
# Driver for the CH347 JTAG chip on the EasyDevKits JTAG Adapter
#

adapter driver ch347
ch347 device_desc "EasyDevKit"
ch347 vid_pid 0x1a86 0x55dd
# the activity LED is low active at GPIO4 (n4)
ch347 activity_led n4

# The speed of the JTAG interface, in kHz. If you get DSR/DIR errors (and they
# do not relate to OpenOCD trying to read from a memory range without physical
# memory being present there), you can try lowering this.
#
# On EasyDevKits, set this not higher than 30MHz. If errors occur set it to 15MHz.
# The CH347 supports 469kHz, 938kHz, 1.875MHz, 3.75MHz, 7.5MHz, 15MHz, 30MHz and 60Mhz.
adapter speed 30000